<head>
  <title>RPVR - Put.io PVR</title>
</head>

<body>
  <h1>Welcome to RPVR!</h1>

  {{> axel}}

</body>

<template name="axel">

  <form method="post">
    <label for="url">Download url</label>
    <input type="text" name="url" id="url" placeholder="http://www.example.com/test.doc">
  </form>

  <button id="cancel">Cancel Downloads</button>

  <table>
  <thead>
  	<tr>
  		<td>Filename</td>
  		<td>Percentage complete</td>
  	</tr>
  </thead>
  <tbody>
  	<tr>
  		<td>test.doc</td>
  		<td>87%</td>
  	</tr>
  </tbody>
  </table>

</template>
